@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@plugin "daisyui" {
  /* themes: fantasy --default; */
  themes: corporate --default;
  /* themes: all; */
  /* themes: light --default, dark --prefersdark; */
}

/* 

@plugin "daisyui/theme" {
  name: "nsp";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(1.000 0.006 225.1);
  --color-base-200: oklch(0.946 0.017 225.1);
  --color-base-300: rgba(6, 112, 142, 1);
  --color-base-content: #326f8c;
  --color-primary: #326f8c;
  --color-primary-content: oklch(1.000 0.013 231.6);
  --color-secondary: rgba(1, 169, 141, 1);
  --color-secondary-content: oklch(1.000 0.014 175.2);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(47% 0.157 37.304);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */


:root {
  font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-ExtraLight.woff2') format('woff2'),
        url('/poppins/subset-Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Light.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-LightItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Black.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Regular.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-MediumItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Medium.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Italic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Bold.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-BlackItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-ThinItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-ExtraBold.woff2') format('woff2'),
        url('/poppins/subset-Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-BoldItalic.woff2') format('woff2'),
        url('/poppins/subset-Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-SemiBold.woff2') format('woff2'),
        url('/poppins/subset-Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('/poppins/subset-Poppins-Thin.woff2') format('woff2'),
        url('/poppins/subset-Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

